<app-header></app-header>
<div class="tb">
  <button class="btn btn-primary" routerLink="/dashboard/product">Add Product</button>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Image</th>
            <th scope="col">Update/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pList of productList">
            <th scope="row">{{ pList._id }}</th>
            <td>{{ pList.pName }}</td>
            <td>{{ pList.pDesc }}</td>
            <td>{{ pList.pImage }}</td>
            <td><button class="btn btn-warning" routerLink="/dashboard/product/{{pList._id}}" (click)="editClicked(pList._id,pList.pName,pList.pDesc,pList.pImage)">Edit</button>
              <button class="btn btn-danger" (click)="deleteProduct(pList._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
</div>
  <app-footer></app-footer>
