<app-header></app-header>
<div class="tb">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pList of productList">
            <th scope="row">{{ pList._id }}</th>
            <td>{{ pList.pName }}</td>
            <td>{{ pList.pDesc }}</td>
            <td>{{ pList.pImage }}</td>
          </tr>
        </tbody>
      </table>
</div>
  <app-footer></app-footer>
