<app-header></app-header>
 <form [formGroup]="myForm" (ngSubmit)="onClick(myForm)">
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img class="user" src="../../../assets/userProducts/user.svg" alt="adduser">
        </div>
        <div class="col-md-1">

        </div>
       
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Firstname" formControlName="firstname">
                <mat-error *ngIf="firstname.invalid && firstname.touched">
                    Name length should > 3
                </mat-error>
                <input type="text" class="form-control" placeholder="Lastname" formControlName="lastname">
                <mat-error *ngIf="lastname.invalid && lastname.touched">
                    Password length should > 5
                </mat-error>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
                <mat-error *ngIf="email.invalid && email.touched">
                    Invalid Email Address
                </mat-error>
                <input type="text" class="form-control" placeholder="Password" formControlName="password">
                <mat-error *ngIf="password.invalid && password.touched">
                    Address length should be > 5 characters
                </mat-error>
                <input type="submit" class="btn btn-primary" [class.color]="myForm.invalid" value="Add User" [disabled]="myForm.invalid">
                <span><p> </p> {{ serverResponse }} </span>
            </div>
        
        <div class="col-md-4">
        </div>
    </div>
  </div>
</form>
<app-footer></app-footer>
